{% extends "base.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/group-custom.css' %}">
{% endblock %}

{% block content %}

<br>
<h4 class=text-center>{{ user.fName }} {{user.lName}}</h4>
<div class="grid-container text-center">
    <h5>Are you sure you want to remove this user from "{{ group.name }}" ?</h5>
    <form action='' method="POST">
        {% csrf_token %}
        <br>
        <input class="button secondary" type="submit" value="Yes" />
        <a class="button secondary" href="/group/{{ gid }}">Cancel</a>
    </form>
</div>
{% endblock %}